@model SearchApp.Web.Models.SearchIndexVM

<div class="top">
</div>
<div class="row">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-10">
        <form method="post" asp-controller="Search" asp-action="Index">

            <div>
                @Html.EditorFor(m => m.Words, new { htmlAttributes = new { @class = "search-input" } })
                <input type="submit" value="Поиск" class="btn btn-primary search-btn" />
            </div>
            <div>
                @Html.CheckBoxFor(m => m.IsOfflineSearch)
                @Html.DisplayNameFor(m => m.IsOfflineSearch)
            </div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>
<div class="row menu">
    <div class="col-lg-3 col-md-1">
    </div>
    <div class="col-lg-7 col-md-10 links">
        <h5>@Html.ActionLink("Список движков", "Index", "Engines")</h5>
        <h5>@Html.ActionLink("Добавить движок", "NewEngine", "Engines")</h5>
        <h5>@Html.ActionLink("Удалить движок", "DeleteEngine", "Engines")</h5>
    </div>
</div>
