@model IEnumerable<SearchApp.Web.Models.EngineVM>
@{
    ViewData["Title"] = "Список поисковых движков";
}

@if (Model == null)
{
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <h1>Поисковые движки</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Имя поискового движка</td>
                        <td>URL запроса</td>
                        <td>Селектор элемента результата</td>
                        <td>Селектор названия результата</td>
                        <td>Селектор описания результата</td>
                        <td>Селектор ссылки результата</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).Id)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).Name)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).QueryUrl)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).ResultElementSelector)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).TitleElementSelector)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).DescElementSelector)</td>
                            <td>@Html.DisplayFor(t => t.ElementAt(i).LinkElementSelector)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

